{% extends './layout.html' %}

{% block title %}
{{data.Titulo}}
{% endblock %}


{% block body %}
<h1>{{ data.Titulo }}</h1>
    <div>

      <ul>
        <li><a href="{{ url_for('iniciar_cuestionario')}}">Iniciar Cuestionario</a></li>
          <br><br>

        <li><a href="{{ url_for('ranking') }}">Ranking</a></li>
          <br><br>
        <li><a href="{{ url_for('preguntas_completas') }}">Mostrar Preguntas</a></li>
          <br><br>
        <li><a href="{{ url_for('contacto') }}">contacto</a></li>
      </ul>


    </div>
{% endblock %}