{% extends './layout.html' %}
{% block title %}{{ data.Titulo }}{% endblock %}

{% block body %}
<h1>{{ data.Titulo }}</h1>

{% for pregunta in data.preguntas %}
  <div class="pregunta-completa">
    <h2>{{ loop.index }}. {{ pregunta.pregunta }}</h2>
    <ul>
      {% if pregunta.respuestas and pregunta.correcta is not none %}
  {% for respuesta in pregunta.respuestas %}
    <li {% if loop.index0 == pregunta.correcta %} style="color:green;" {% endif %}>
      {{ respuesta }}
    </li>
  {% endfor %}
{% else %}
  <li style="color:red;">⚠️ Pregunta mal formada o incompleta</li>
{% endif %}
    </ul>
  </div>
  <hr>
{% endfor %}

<form method="POST" action="{{ url_for('eliminar_pregunta') }}">
  <label>Selecciona la pregunta que deseas eliminar:</label><br><br>
  <select name="pregunta" required>
    {% for pregunta in data.preguntas %}
      <option value="{{ pregunta.pregunta }}">{{ pregunta.pregunta }}</option>
    {% endfor %}
  </select><br><br>
  <button type="submit">Eliminar pregunta</button>
</form>
<a href="{{ url_for('formulario_nueva_pregunta') }}" class="boton">Añadir nueva pregunta</a>
<a href="{{ url_for('index')}}">Home</a></li>



{% endblock %}